	@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
	body{
		font-size: 16px;
	}
	header .container-fluid {
		
		margin-top: 100px;
		width: 100%;
		padding: 0px;
	}

	.navbar {
		margin: 0px;
		padding: 0 0;
	}
	.navbar-light .navbar-toggler {
		border: none;
	}
	div a img {
			text-align: center;
		}
	li a {
		
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		color: #007fff;
		letter-spacing: 3px;
		line-height: 16px;
	}
	ul li:first-of-type{
		margin-right: 70px; 
	}
	h1{
		text-transform: capitalize;
		
		font-size: 48px ;
		line-height: 60px;
		margin-bottom: 50px;
		margin-top: 120px;
		text-align: center;
	}
	span{
		color: #007fff;
	}
	figure {
		text-align: center;
		margin-bottom: 120px;
	}
	.bhc {
		margin-right: 30px;
		margin-left: 30px;
	}
	#works {
		
		text-transform: uppercase;
		font-weight: bold;
		writing-mode: vertical-rl;	
		transform: rotate(-180deg);
		font-size: 12px;
		color: #979797
		letter-spacing: 3px;
		margin-right: 60px;
		margin-left: auto;
	}


.container1 {
  position: relative;
  width: 50%;
  	
}
.container1 .btn {
  position: absolute;
  top: 330px;
  left: 60px;
  border: none;
  border-radius: 15px;
  width: 80px;
  font-size: 12px;	
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
  
  color: #000000;
  background: #ffe300;
  font-weight: bold;
}
.container1 h2 {
	font-size: 28px;
	color: #ffffff;	
	line-height: 36px;
	position	: absolute;
	top		: 360px;
	left		: 60px;
	
	text-transform: capitalize;
		
		width: 275px;

}

.container2 {
	position: relative;	
	width: 50%;
}
.container2 h2{
	font-size: 28px;
	color: #ffffff;
	line-height: 36px;
	position: absolute;
	top: 605px;
	left: 60px;		
	text-transform: capitalize;
	width: 317px;

}
.container3 {
	position: relative;
	width: 50%;
}
.container3 h2{
	font-size: 28px;
	color: #ffffff;
	line-height: 36px;
	position: absolute;
	top: 500px;
	left: 60px;
	text-transform: capitalize;
	width: 317px;
}

.container4 {
	position: relative;
	width: 50%;
}

.container4 .btn {
	position: absolute;
  top: 260px;
  left: 60px;
  border: none;
  border-radius: 15px;
  width: 80px;
  font-size: 12px;	
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
  
  color: #000000;
  background: #ffe300;
  font-weight: bold;
}
.container4 h2{
	font-size: 28px;
	color: #ffffff;
	line-height: 36px;
	position: absolute;
	top: 303px;
	left: 60px;
	text-transform: capitalize;
	width: 317px;

}
.photo {
	margin-bottom: 120px;
}
#about {
		
		text-transform: uppercase;
		font-weight: bold;
		writing-mode: vertical-rl;	
		transform: rotate(-180deg);
		font-size: 12px;
		color: #979797
		letter-spacing: 3px;
		margin-right: 60px;
		margin-left: auto;
	}
	.ab, .ab1{
		height: 240px;
	}
.ab h1, .ab1 h1, .ab2 h1, .ab3 h1{
	font-size: 28px;
	line-height: 30px;
	text-align: left;
	margin: 0;
	margin-bottom: 30px;
}
.ab p, .ab1 p, .ab2 p, .ab3 p{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	margin-right: : 0;

}
.ab1, .ab3 {
	margin-left: 30px;	
}
.soc {
	width: 100%;
}
.google{
	width: 50%;	
	margin-right: 0;
}
.airbnb {
	width: 50%;
}


	
	@media screen and (max-width: 768px){
		h1 {
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 30px;
			margin-top: 60px;
			margin-right: 40px; 
			margin-left: 40px;
			text-align: center;

		}
		header .container-fluid {
			
			margin-top: 60px;
			margin-right: 30px;
			padding-left: 10px;
		}
		header .row {
			margin-right: 0;
		}
		figure{
			padding-left: 15px;
			margin-bottom: 60px;
		}
		#works {
			text-align: center;
			margin: 0;
			writing-mode: lr-tb;
			transform: none;
			margin-bottom: 	30px;
			padding-left: 15px;
		}
		.container1 img{
			width: 315px;
			height: 306px;
			margin-bottom: 30px;

		}
		.container1 .btn{
			top: 190px;
			left: 30px;
		}
		.container1 h2{
			top: 224px;
			left: 30px;
			width: 183px;
		}
		.container2 img{
			width: 315px;
			height: 446px;
			margin-bottom: 30px;
		}
		.container2 h2{
			top: 364px;
			left: 30px;
			width: 221px;
		}
		.container3 img {
			width: 315px;
			height: 404px;
			margin-bottom: 30px;
		}
		.container3 h2{
			
			top: 296px;
			left: 30px;
			width: 221px;
		}
		.container4 img{
			width: 315px;
			height: 264px;
		}
		.container4 .btn{
			top: 150px;
			left: 30px;
		}
		.container4 h2{
			top: 182px;
			left: 30px;
			width: 200px;
		}
		.container1 h2, .container2 h2, .container3 h2, .container4 h2{
			font-size: 18px;
			line-height: 26px;

		}

		
		}

