body{
	font-size: 16px;
}
header .container-fluid {
	
	margin-top: 100px;
	width: 100%;
	padding: 0px;
}

.navbar {
	margin: 0px;
	padding: 0 0;
}
.navbar-light .navbar-toggler {
	border: none;
}
div a img {
		text-align: center;
	}
li a {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #007fff;
	letter-spacing: 3px;
	line-height: 16px;
}
ul li:first-of-type{
	margin-right: 70px; 
}
h1{
	text-transform: capitalize;
	font-family: 'Nunito', sans-serif;
	font-size: 48px ;
	
	font-weight: bold;
	line-height: 60px;
	margin-bottom: 50px;
	margin-top: 120px;
	text-align: center;
}
span{
	color: #007fff;
}
figure {
	text-align: center;
}
.bhc {
	margin-right: 30px;
	margin-left: 30px;
}
@media screen and (max-width: 768px){
	h1 {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 30px;
		margin-top: 60px;
		margin-right: 40px; 
		margin-left: 40px;
		text-align: center;
	}
	header .container-fluid {
		
		margin-top: 60px;
		margin-right: 30px;
	}
	header .row {
		margin-right: 0;
	}
	figure{
		padding-left: 15px;
	}

}

